section {
    height: 100vh;
    width: 100vm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section > div {
    margin: 5%;
}

table {
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
}

td{
    margin: 5%;
}

th{
    margin: 5%;
}